.axis path {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: Lato;
    font-size: 13px;
}

.axis line{
	fill: none;
	stroke: black;
}

.tick line{
  opacity: 0.2;
}